<!DOCTYPE html>
<html>
<head>
    <title>Callback</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Processing callback...</h1>
        </header>

        <div class="row">
            <div class="col-md-2">
                <a href="index.html" class="btn btn-primary">Back to index</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="oidc-client.min.js"></script>
    <script type="text/javascript">
        var mgr = new Oidc.UserManager({ loadUserInfo: true, filterProtocolClaims: true });
        mgr.signinRedirectCallback().then(function (user) {
            console.log(user);
            window.history.replaceState({},
                window.document.title,
                window.location.origin + window.location.pathname);
            window.location = 'index.html';
        });
    </script>
</body>
</html>
