<!DOCTYPE html>
<html>
<head>
    <title>Popup</title>
</head>
<body>
    <script src="oidc-client.min.js"></script>
    <script>
        var mgr = new Oidc.UserManager();
        mgr.signinPopupCallback();
    </script>
</body>
</html>
